<% layout('layout') %>

<link  href="/javascripts/pickerjs/picker.min.css" rel="stylesheet">
<link  href="/javascripts/tingle/tingle.min.css" rel="stylesheet">
<script src="/javascripts/pickerjs/picker.min.js"></script>
<script src="/javascripts/tingle/tingle.min.js"></script>

<div>
    <label for="txtMessage">Message:&nbsp;</label><input type="text" id="txtMessage">
    <label for="txtDateTime">Date:&nbsp;</label><input type="text" id="txtDateTime" class="js-super-picker">
    <label>Sticker:&nbsp;</label><a href="javascript:void(0);"><img width="70" height="70" src="/images/lineSticker/0.png" alt="sticker" id="imgSelectSticker" selectedSticker="0.png" ></a>
    <label for="ddlFrequency">Frequency:&nbsp;</label>
    <select id="ddlFrequency">
        <option value="O">Once</option>
        <option value="D">Day</option>
        <option value="M">Month</option>
        <option value="Y">Year</option>
    </select>
    <br>
    <input type="button" value="Test Send" id="btnSend">
    <input type="button" value="Add" id="btnAdd">
    <input type="button" value="Log out" id="btnLogout">
    <hr>
    <table>
        <thead>
            <tr>
                <td>Seq</td>
                <td>Message</td>
                <td>StickerPackageId</td>
                <td>StickerId</td>
                <td>ScheduleDate</td>
                <td>ScheduleTime</td>
                <td>Frequency</td>
                <td>Function</td>
            </tr>
        </thead>
        <tbody id="tbody">
            <% rows.forEach(function(item, index){ %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= item.message %></td>
                <td><%= item.stickerPackageId %></td>
                <td><%= item.stickerId %></td>
                <td><%= item.scheduleTime === null ? '' : item.scheduleTime.toLocaleDateString() %></td>
                <td><%= item.scheduleTime === null ? '' : item.scheduleTime.toLocaleTimeString() %></td>
                <td><%= item.frequency %></td>
                <td><input type="button" value="Delete" onclick="deleteSetting(<%=item.notifySettingId%>);" /></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<div class="js-super-picker-container"></div>
<div id="divSticker" style="display:none;">
    <% sticker.forEach(function(item, index){ %>
    <img src="<%= '/images/lineSticker/' + item %>" alt="<%= item %>" onclick="selectSticker(<%='\''+item+'\''%>);" width="70" height="70" >
    <% }); %>
</div>
<script src="/javascripts/index.js"></script>